<footer class="footer-container">
  <nav class="navigation">
    <header class="top-link-container">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4b1f0e3f48d07f60d1add9999a4f00e71b8f60bf964d23023c695d54af42559c?apiKey=e3b0a8ea0d334592adca7827ce8580ad&" alt="Return to the top" class="top-link-image" />
      <p class="top-link-text">Haut de page</p>
    </header>
    <div class="pagination-container">
      <div class="pagination-start">
        <p class="current-page">1</p>
        <p class="page-separator">…</p>
      </div>
      <div class="pagination-main">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c74886a6eaf68ed92788cf8c0d901d679ee07373122b1133c7da9c85df43b3d2?apiKey=e3b0a8ea0d334592adca7827ce8580ad&" alt="Page 1" class="pagination-icon" />
        <p class="selected-page">Page 1</p>
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/82a98f645b5fd13155c07af04f0e467b348525514af97027fdbc192d6f0afed8?apiKey=e3b0a8ea0d334592adca7827ce8580ad&" alt="Next pages" class="pagination-icon" />
        <p class="page-separator">…</p>
        <p class="last-page">10</p>
      </div>
    </div>
  </nav>
</footer>
