<mat-card *ngFor="let article of articles">
  <mat-card-header>
    <mat-card-title>{{ article.nomArticle }}</mat-card-title>
    <mat-card-subtitle>{{ article.ancienPrix }} -> {{ article.nouveauPrix }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- Your content here -->
    <button mat-button>Vote Positif: {{ article.votePositif }}</button>
    <button mat-button>Vote Négatif: {{ article.voteNegatif }}</button>
    <button mat-button>Utilisateur: {{ article.utilisateur }}</button>
  </mat-card-content>
  <img class="article-image" [src]="article.photoArticle" alt="{{ article.nomArticle }}">
</mat-card>
